

#container{
	width: 100%;
	height: 100%;
	margin: 0px auto;
	max-width: 1200px;
	background-color: #D4D4D4;
}



.logo{
	margin: 0 auto;
	width: 90%;
	padding: 0;
	max-width: 1800px;
	height: 100%;
	background-color: white;
}


h1{
	font-size: 45px;
	text-align: center;
}

.flecha{
  background-repeat: no-repeat;	
}

h2{
	color: #F13B9D;
	display: inline;
}



h3{
	text-align: right;
	color: #F13B9D;
	display: inline;
}

.menu ul{
	list-style: none;
}
.menu ul li{
	float: right;
}
.menu ul li a{
	padding: 8px 8px;
	display: block;
	color: #F13B9D;
	text-decoration: none;
	font-size: 20px;
}
.menu ul li a{
	margin-left: 2%;
}

.caja1, .caja2, .caja3{
	background-color: #605B5B;
	color: white;
	margin-left: 2%;
	margin-right: 2%;
	padding: 10px 20px;
	display: block;
	float: right;
}

.numerouno, .numerodos, .numerotres{
	float: left;
	border-right: 1px solid white;
	font-size: 150px;
}

.numerouno{
	color: #1BF935;
	
}

.numerodos{
	color: #F2923D;
	
}

.numerotres{
	color: #2CD8EC;
	
}



body{
	background: #D4D4D4;
}


table{
	position: relative;
	width: 85%;
	left:-15% ;
	top: 10%;
	margin-right: 20%;
	text-align:left;
	margin-left: 20%;
margin-top: 20%;
overflow: hidden;
}
tr, td{
	width: 400px;
	text-align: center;
	border-bottom: 1px solid gray;
	padding: 30px;
	font-size: 20px;
}


@media only screen and (800px) {
	#container{
		margin: 0;
		width: 100%;
		overflow: hidden;
		display: block;
	}
	
}

.con{
	background-color: red; 
	font-size: 20px;
	float: right; 
	margin: 20px 800px;
	padding: 5px 5px;
	text-decoration: none;
	color: white;
}